/*google font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: red;
  border: 2px solid greenyellow;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
/*Agenda page*/
.page {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
  /*background-color: aqua;*/
}

/*agenda page separate for two column*/
.ajenda {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
/*
.sessions{
    background-color: aqua;
}
*/

/*first-column*/
/*seccion detail panel*/
.seccion-details {
  background: #fff;
  width: auto;
  height: 120px;
  border-radius: 20px;
  margin: 20px auto;
  padding: 15px 15px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.seccion-details h3 {
  margin: 0;
  padding: 0 6px;
  font-size: 1.2em;
}
.seccion-details p {
  margin: 0 0 5px 0;
  padding: 0 6px;
  font-size: 0.8em;
  color: #555;
}
.seccion-details h4 {
  margin: 0;
  padding: 0 6px;
  font-size: 1em;
  color: #555;
}
.seccion-details span {
  left: 40px;
  padding: 0 6px;
  color: #333;
  font-size: 0.8em;
}
.seccion-details .button1 {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 70px;
  cursor: pointer;
  background: #fff;
  padding: 6px;
  color: rgb(19, 241, 30);
  border: 2px solid rgb(19, 241, 30);
  border-radius: 20px;
  font-family: "Poppins";
}
.seccion-details .button2 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 70px;
  cursor: pointer;
  background: #fff;
  padding: 6px;
  color: rgb(226, 43, 43);
  border: 2px solid rgb(226, 43, 43);
  border-radius: 20px;
  font-family: "Poppins";
}

/*second-column*/
/*form*/
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: blueviolet;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

form.update {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #ffff;
  border-radius: 4px;
}
